# Virtual environment
.venv/

# Environment variables / API keys
.env

# Python cache
__pycache__/
*.py[cod]

# Streamlit
.streamlit/

# Project data
data/pdfs/*
data/metadata/*
data/outputs/*

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db